
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

.banner-section-container{
    max-width: 1440px;
    height: 650px;
    /* border: 2px solid; */
    margin: 0 auto;
    background: rgba(229, 84, 115, 0.1);

    /* display: flex; */
}
.banner-section-content{
    display: flex;
    /* border: 2px solid; */
    width: 90%;
    margin: 0 auto;
}
.banner-text-container{
    width: 50%;
    height: 650px;
    /* border: 2px solid; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}
.banner-text-container h1{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    
}
.banner-text-container p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    
}
.banner-text-container button{
    margin-right: 500px;
    /* padding: 10px 20px; */
    border-radius: 8px;
    width: 150px;
    height: 45px ;
    border: none;
 
    background: rgb(229, 84, 115);
    margin-top: 40px;

    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
.banner-image-container{
    width: 60%;
    height: 650px;
    /* border: 2px solid; */
    /* margin: 0 auto; */
    margin-left: 100px;
    
}
.banner-image-container img{
    width: 60%;
    height: 650px;
    /* border: 2px solid; */
    
}

/* featured-image-container styles starts here  */
.featured-image-container{
    width: 90%;
    height: 650px;
    /* border: 2px solid; */
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
.featured-content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 50%;
    margin: 0 auto;
}
.featured-content-title p{
    text-align: center;
}
.featured-content-title h2{
    margin-bottom: 10px;
}
.featured-images{
    display: flex;
    gap: 20px;
    border: none;
    margin-top: 80px;
}
.first-image, .second-image, .third-image{
    width: 33%;
    height: 530px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* margin: 0 auto; */
    border-radius: 50% 50% 0 0;
    /* border: 2px solid; */
}
.first-image img, .second-image img, .third-image img{
    width: 80%;
    height: 80%;
}
#first{
    background-color: #F2DEE8;
}
#second{
    background-color: #DAF0F1;
}
#third{
    background-color: #E4ECDC;
}

/* .instagram-section-container styles starts here  */
.instagram-section-container{
    width: 90%;
    height: 1050px;
    /* border: 2px solid; */
    margin: 0 auto;
    margin-top: 80px;
}
.instagram-text-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.instagram-text-content p{
    /* text-align: center;
    display: flex; */
    margin-top: 15px;
    margin-bottom: 45px;
}
.insta-image-1{
    width: 100%;
    height: 425px;
    /* border: 2px solid; */

}
.insta-image-1 img{
    width: 100%;
    height: 100%;
    /* border: 2px solid; */
    /* margin: 15px; */
    border-radius: 10px;

}
.instagram-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
/* super-deals-container styles here  */

.super-deals-container{
    width: 90%;
    height: 449px;
    margin: 0 auto;
    /* border: 2px solid; */
    /* border: none; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('../images/deal-bg.png');
    border-radius: 10px;
}
.deals-content p{
    margin-bottom: 30px;
    margin-top: 10px;
}
.deals-content input {
    width: 600px;
    height: 44px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-radius: 8px;
    border: none;
}
/* .deals-content button {
    border-radius: 8px;
    background: rgb(255, 255, 255);

} */
/* .deals-content {
    width: 400px;
    height: 34px;
    border: none;
    /* color: white; */

#subscribe-btn{
    width: 100px;
    height: 44px;
    
    border: none;
    border-radius: 8px;
    background-color: rgb(229, 84, 115);
    
    /* color: white; */

    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
   
}

/* footer section starts here  */
.footer-section-container{
    width: 100%;
    height: 449px ;
    margin: 0 auto;
    margin-top: 80px;
    border: 2px solid;
   
    display: flex;
    flex-direction: column;
   justify-content: center; 
   align-items: center;
   
   background-color: black;
   color: white;
}
.footer-section-container h4{
    font-size: 30px;
    margin-bottom: 25px;
    
}
.footer-section-container p{
    text-align: center;
   
    
}
#flower{
    color: rgb(229, 84, 115);
}
.footer-section-container h5{
    margin-top: 50px;
    
}
/* requirement-section-container styles starts here  */
.requirement-section-container{
    width: 90%;
    height: 320px;
    border: 1px solid rgba(39, 39, 39, 0.05);

    /* margin-bottom: 180px; */
    margin: 0 auto;
    
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}
.requirement-section-content{
    width: 70%;
    
    display: flex;
    justify-content: space-between;

    /* align-items: center;  */
        /* flex-direction: column; */
    
    margin: 0 auto;
    margin-top: 100px;   
}
.requirement-image{
    width: 77px;
    height: 82.5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
/* .requirement-image img{
    width: 90%;
    height: 90%;

} */
.requirement-description{
    width: 372px;
    height: 35px;
    margin-top: 20px;
}

/* hot-deal-section-container styles starts here  */
.hot-deal-section-container{
    width: 100%;
    height: 620px;
    /* border: 2px solid; */
    margin-top: 80px ;
    
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-section-content{
    width: 79%;
    height: 620px;
    margin: 0 auto;
    /* border: 2px solid; */
    display: flex;


}
.hot-deal-text-content{
    width: 50%;
    /* border: 2px solid; */
    /* margin: 0 auto; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.hot-deal-text-content h2{
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    color: #272727;

    margin-bottom: 20px;

}
.hot-deal-text-content p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}
#hot-pink{
    color: #E55473;
}
.hot-deal-image{
    /* width: 50%; */
    /* border: 2px solid; */
    
    margin: 0 auto;
    display: flex;
    margin-top: 90px;

    /* justify-content: center;
    flex-direction: column;
    align-items: center; */

    width: 318px;
    height: 420px;
}
#sign-btn{
    /* width: 100px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: rgb(229, 84, 115);
    color: white; */

    border-radius: 8px;
    border: none;
    padding-top: 8px;
    margin-top: 40px;
    
    width: 140px;
    height: 45px ;
    
    background: rgb(229, 84, 115);   
    color: rgb(255, 255, 255);
    
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
   
}